html, body, #home {
    height: 100%;
    overflow-x: hidden;
}
#home {
    overflow-y: hidden;
}

body {
    background: url(../img/Site\ Apenunga/fundo.jpeg),
    black;
    background-position: center;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

footer {
    background: black;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
    color: white;
}

footer ul li a:hover{
    opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.albuns {
    padding: 10px 0;
}

#servicos {
    background: white;
    padding: 20px 0;   
}

#servicos h2, h3 {
    color: #484848;
}

#recursos h2, #recursos p {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}

#recursos {
    padding: 20px 0;   
}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 15;
}

.btn-verde {
    background: #47cf32;
}

.btn-verde:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

.btn-branco {
    border: 2px solid white;
}
.btn-branco:hover {
    background-color: white;
    color: black;
}

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h2{
        font-size: 1.5em;
    }
    .btn-custom{
        font-size: 0.7em;
    }
    .navbar .container{
        padding: 0px, 200px
    }
    #home .container {
        min-width: 575.98;
        margin: 0px 15px;
    }
    #home {
        height: auto;
        padding-top: 71px;
    }
    footer {
        font-size: 0.7em;
        padding-bottom: 50px;
        padding-top: 10px;
       
    }
    ul li ul.dropdown1 {
        width: 150px; 
        top: 24%;
        left: 25%;
        position: absolute;
        z-index: auto;
        display: none;
    }
    ul li ul.dropdown2 {
        width: 150px; 
        top: 36%;
        left: 25%;
        position: absolute;
        z-index: auto;
        display: none;
    }
    ul li ul div.drop-text {
        padding-left: 10px;
    }
}
    
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h2{
        font-size: 2em;
    }
    .btn-custom{
        font-size: 1em;
    }
    .navbar .container{
        padding: 0px, 200px
    }
    
    #home .container {
        min-width: 575.98;
        max-width: 100%;
    }
    #home {
        height: auto;
    }
    footer {
        font-size: 0.7em;
        padding-bottom: 50px;
        padding-top: 10px;
       
    }
    ul li ul.dropdown1 {
        width: 150px; 
        top: 24%;
        left: 25%;
        position: absolute;
        z-index: auto;
        display: none;
    }
    ul li ul.dropdown2 {
        width: 150px; 
        top: 36%;
        left: 25%;
        position: absolute;
        z-index: auto;
        display: none;
    }
    ul li ul div.drop-text {
        padding-left: 10px;
    }

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h2{
        font-size: 3em;
    }
    #servicos .row .col-md-6{
        padding: 0;
        max-width: 80%;
        flex: 200px;
    }
    #recursos .row .col-md-6{
        padding: 0;
        max-width: 70%;
        flex: 250px;
        ;
    }

    #recursos .rotacionar {
        margin: 250px 0px 0px 50px
    }
    #home {
        height: auto;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 5em;
    }
    #home {
        height: auto;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1{
        font-size: 6em;
    }
    #home .container {
        min-width: 575.98;
        max-width: 100%;
        margin: 0px 0px;
    }
    #home {
        height: auto;
    }
}


.carousel-control-next, .carousel-control-prev {
    width: 5%;
    color: black;
}

.carousel-caption {
    bottom: 20%;
  
}

.bk-carousel {
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 30px;
}

#home .col-md-12{
    padding: 0;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown1, ul li ul.dropdown2 {
    width: 150px;
    padding: 0;  
    padding-top: 16px;
    position: absolute;
    z-index: 10px;
    display: none;
    list-style: none;
}

ul li ul div.drop-text {
    background: rgba(0, 0, 0, 0.5); 
}

ul li:hover ul.dropdown1, ul li:hover ul.dropdown2 {
    display: block;
}